{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!--meta tags-->
    <meta charset="UTF-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content=" Construction Business Website" />
    <meta name="keywords" content="HTML,CSS,Bootstrap,JavaScript,Jquery" />
    <meta name="author" content="Template.net" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Construction Business Website</title>
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css"
    />
    <link rel="stylesheet" href="{% static '/css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static '/css/aos.css' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '/css/style.css' %} "
    />
    <!--Google fonts-->
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- header start -->
    <header>
      <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="side-bar"></div>
          <a class="navbar-brand" href="index.html">
            <div>
              <h1><strong>GPA</strong></h1>
              Buliders and developers
            </div>
            <!--<img src="images/logo.png" alt="logo">-->
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="index.html">
                  <i class="fas fa-home"></i>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"
                  >Home <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#Our Services">our services</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#Blog">testimonials</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#projects">our team </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#Contact">contact</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!-- header end -->

    <!-- banner start -->
    <section class="banner">
      <div class="gradient"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-8 col-lg-9 col-md-12">
            <div class="banner-inner">
              <h4>
                Let Professionals work on your construction project Contact us
                for more info.
              </h4>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- banner end -->

    <!-- features start -->
    <section class="features">
      <div class="container">
        <!--
			<div class="row nogap">
				<div class="col-lg-4 col-12 col">
					<div class="box">
						<img src="images/feature-01.png" alt="feature">
						<h3>Experience</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmod tempor incididunt ut labore et dolore magna morbi Lorem ipsum dolor sit amet, consectetur...</p>
						<a href="">more...</a>
					</div>
				</div>

				<div class="col-lg-4 col-12 col">
					<div class="box">
						<img src="images/feature-02.png" alt="feature">
						<h3>Quality</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmod tempor incididunt ut labore et dolore magna morbi Lorem ipsum dolor sit amet, consectetur...</p>
						<a href="">more...</a>
					</div>
				</div>

				<div class="col-lg-4 col-12 col">
					<div class="box">
						<img src="images/feature-03.png" alt="feature">
						<h3>Affordable</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmod tempor incididunt ut labore et dolore magna morbi Lorem ipsum dolor sit amet, consectetur...</p>
						<a href="">more...</a>
					</div>
				</div>
			</div>-->

        <div class="row construction-company">
          <div
            class="col-12"
            id="About us"
            style="position: relative; top: 40px"
          >
            <h4>About us</h4>
          </div>
          <div class="col-lg-7">
            <figure>
              <img
                src="{% static '/images/feature-04.png' %} "
                alt="feature-04"
              />
            </figure>
          </div>
          <div class="col-lg-5 inner">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna morbi Lorem
              ipsum dolor sit amet, consectetur adipiscing eliturna. Lorem .
              Pharetra convallis morbi Lorem ipsum dolor sit amet, consectetur
              adipiscing eliturna. Lorem morbi Lorem dolor sit amet, consectetur
              adipiscing eliturna. Lorem ipsum dolor sit amet, consectetur adipi
              scing elit, sed do eiusmorbi Lorem ipsum dolor sit amet,
              consectetur adipiscing eliturna. Lorem t labore et dolore magna
              aliqua.
            </p>

            <p>
              Pharetra convallis posuere morbi Lorem ipsum dolor sit amet,
              consectetur adipiscing eliturna. Lorem ipsum dolor sit amet,
              consectetur adipi scing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna Lorem ipsum dolor sit amet, consectetur
              adipi scing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- features end -->

    <!-- services start -->
    <section class="services" id="Our Services">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="services-header">
              <h2>Services Offered by GPA buliders and devlopers</h2>
              <p class="note">
                New construction / Renovation /elivation/Interior works at best
                prices. Let Professionals Work on Your Construction Project.
                Contact Us for more info
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid services-middle">
        <div class="row carousel-wrap">
          <div class="owl-carousel">
            <div class="item">
              <figure>
                <img src="{% static '/images/services-01.jpg' %}" />
                <figcaption>
                  <h4>Project Planning.</h4>
                  <p>
                    Your project is planned by a experience engineerClients
                    suggestions are also included.an effective planning is done
                    according to the choice of customer
                  </p>
                </figcaption>
              </figure>
            </div>
            <div class="item">
              <figure>
                <img src="{% static '/images/services-02.jpg' %}" />
                <figcaption>
                  <h4>construction</h4>
                  <p>
                    your project construction is supervised by experienced
                    employees,we also have our own team of workers.our comapny
                    is budget friendly.
                  </p>
                </figcaption>
              </figure>
            </div>
            <div class="item">
              <figure>
                <img src="{% static '/images/services-04.jpg' %}" />
                <figcaption>
                  <h4>Renovation Works.</h4>
                  <p>
                    we also provide renovation services according to the clients
                    choice.
                  </p>
                </figcaption>
              </figure>
            </div>
            <div class="item">
              <figure>
                <img src="{% static '/images/services-05.jpg' %}" />
                <figcaption>
                  <h4>Cost Analysis</h4>
                  <p>
                    The whole cost of the project is analysised at the stage of
                    planning and designing.we also provide our services at the
                    best with the amount given by clients effectively.
                  </p>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- services end -->

    <!-- client-testimonials start -->
    <section class="client-testimonials" id="Blog">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="client-top">
              <h2>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed,
                inventore. Debitis omnis officiis suscipit tenetur inventore
                quas incidunt natus libero illum consequatur quaerat architecto,
                recusandae dolor vel distinctio minus dolores.
              </h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="client-testimonials-inner nogap">
            <div class="col-lg-4 col-md-12 col">
              <div class="inner-box">
                <figure>
                  <img
                    src="{% static '/images/quote-left.png' %}"
                    alt="quote"
                  />
                </figure>
                <p>iam completely</p>
                <h5>Sri Harsha M</h5>
              </div>
            </div>

            <div class="col-lg-4 col-md-12 col">
              <div class="inner-box block">
                <figure>
                  <img
                    src="{% static '/images/quote-left.png' %}"
                    alt="quote"
                  />
                </figure>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna morbi
                  Lorem ipsum dolor sit amet..
                </p>
                <h5>Kasturi</h5>
              </div>
            </div>

            <div class="col-lg-4 col-md-12 col">
              <div class="inner-box">
                <figure>
                  <img
                    src="{% static '/images/quote-left.png' %}"
                    alt="quote"
                  />
                </figure>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna morbi
                  Lorem ipsum dolor sit amet..
                </p>
                <h5>Subba Roa</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- client-testimonials end -->

    <!-- appointment start 
	<section class="appointment">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h2>Got a Project in Mind? Lets Talk About it, and Get Started</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmod tempor incididunt ut labore et dolore magna morbi Lorem ipsum dolor sit amet, consectetur adipiscing eliturna orem pharetra convallis morbi lorem ipsum...</p>
				</div>

				<div class="col-lg-6 text-center">
					<button type="buttton" class="btn">Make an Appoinment</button>
				</div>
			</div>
		</div>
	</section>
	 appointment end -->

    <!-- construction-projects start -->
    <section class="construction-projects">
      <div class="container inner">
        <div class="row">
          <div class="col-12">
            <div class="content">
              <h2>Our Completed Projects</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna morbi Lorem
                ipsum dolor sit amet, consectetur adipiscing eliturna orem
                pharetra convallis morbi lorem ipsum...
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 projects">
            <div id="demo" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
                <li data-target="#demo" data-slide-to="3"></li>
              </ul>

              <!-- The slideshow -->
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <h4>The Perl Buildings</h4>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipi scing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    morbi Lorem ipsum dolor sit amet, consectetur adipiscing
                    eliturna. Lorem . Pharetra convallis morbi Lorem ipsum dolor
                    sit amet,
                  </p>
                  <span><a href="">Learn More</a></span>
                </div>
                <div class="carousel-item">
                  <h4>The Perl Buildings</h4>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipi scing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    morbi Lorem ipsum dolor sit amet, consectetur adipiscing
                    eliturna. Lorem . Pharetra convallis morbi Lorem ipsum dolor
                    sit amet,
                  </p>
                  <span><a href="">Learn More</a></span>
                </div>
                <div class="carousel-item">
                  <h4>The Perl Buildings</h4>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipi scing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    morbi Lorem ipsum dolor sit amet, consectetur adipiscing
                    eliturna. Lorem . Pharetra convallis morbi Lorem ipsum dolor
                    sit amet,
                  </p>
                  <span><a href="">Learn More</a></span>
                </div>
                <div class="carousel-item">
                  <h4>The Perl Buildings</h4>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipi scing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna
                    morbi Lorem ipsum dolor sit amet, consectetur adipiscing
                    eliturna. Lorem . Pharetra convallis morbi Lorem ipsum dolor
                    sit amet,
                  </p>
                  <a href="">Learn More</a>
                </div>
              </div>

              <!-- Left and right controls -->
              <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- construction-projects end -->

    <!-- team-leaders start -->
    <section class="team-leaders">
      <div class="container inner">
        <div class="row">
          <div class="col-12">
            <div class="content">
              <h2>
                <span id="projects"><h2>Expert</h2></span> Team Leaders
              </h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna morbi Lorem
                ipsum dolor sit amet, consectetur adipiscing eliturna orem
                pharetra convallis morbi lorem ipsum...
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <!--Carousel Wrapper-->
            <div
              id="multi-item-example"
              class="carousel slide carousel-multi-item"
              data-ride="carousel"
            >
              <!--Indicators-->
              <ol class="carousel-indicators">
                <li
                  data-target="#multi-item-example"
                  data-slide-to="0"
                  class="active"
                ></li>
                <li data-target="#multi-item-example" data-slide-to="1"></li>
                <li data-target="#multi-item-example" data-slide-to="2"></li>
              </ol>
              <!--/.Indicators-->

              <!--Slides-->
              <div class="carousel-inner" role="listbox">
                <!--First slide-->
                <div class="carousel-item active">
                  <div class="carousel-item-inner">
                    <div class="col-md-5">
                      <figure>
                        <img
                          src="{% static '/images/expert1.jpg' %}"
                          alt="carousel"
                        />
                      </figure>
                    </div>
                    <div class="col-md-7">
                      <h3>Harrison Smith</h3>
                      <h5>Working Advisor</h5>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipi scing
                        elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna morbi Lorem ipsum dolor sit amet,
                        consectetur adipiscing eliturna orem pharetra convallis
                        morbi lorem ipsum...
                      </p>
                      <span>
                        <a href="">
                          <i class="fab fa-facebook-square"></i>
                        </a>
                        <a href="">
                          <i class="fab fa-twitter-square"></i>
                        </a>
                        <a href="">
                          <i class="fab fa-linkedin"></i>
                        </a>
                        <a href="">
                          <i class="fab fa-instagram"></i>
                        </a>
                      </span>
                    </div>
                  </div>
                </div>
                <!--/.First slide-->

                <!--Second slide-->
                <div class="carousel-item">
                  <div class="carousel-item-inner">
                    <div class="col-md-5">
                      <figure>
                        <img
                          src="{% static '/images/expert2.jpg' %}"
                          alt="carousel"
                        />
                      </figure>
                    </div>
                    <div class="col-md-7">
                      <h3>Harrison Smith</h3>
                      <h5>Working Advisor</h5>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipi scing
                        elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna morbi Lorem ipsum dolor sit amet,
                        consectetur adipiscing eliturna orem pharetra convallis
                        morbi lorem ipsum...
                      </p>
                      <span>
                        <a href="">
                          <i class="fab fa-facebook-square"></i>
                        </a>
                        <a href="">
                          <i class="fab fa-twitter-square"></i>
                        </a>
                        <a href="">
                          <i class="fab fa-linkedin"></i>
                        </a>
                        <a href="">
                          <i class="fab fa-instagram"></i>
                        </a>
                      </span>
                    </div>
                  </div>
                </div>
                <!--/.Second slide-->
              </div>
              <!--/.Slides-->

              <!--Controls-->
              <div class="controls-bottom">
                <a class="btn-left" href="#multi-item-example" data-slide="prev"
                  ><i class="fas fa-chevron-left"></i
                ></a>
                <a
                  class="btn-right"
                  href="#multi-item-example"
                  data-slide="next"
                  ><i class="fas fa-chevron-right"></i
                ></a>
              </div>
              <!--/.Controls-->
            </div>
            <!--/.Carousel Wrapper-->
          </div>
        </div>
      </div>
    </section>
    <!-- team-leaders end -->

    <!-- contact-us start -->
    <section class="contact" id="Contact">
      <div class="container">
        <div class="contact-inner">
          <div class="row">
            <div class="col-xl-6 col-lg-6 form">
              <form class="form" action="#">
                <div class="row nogap">
                  <div class="col-md-6 form-group col">
                    <label class="form-label" id="nameLabel" for="name"
                      >Your name</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      name="name"
                      placeholder=""
                      required
                    />
                  </div>
                  <div class="col-md-6 form-group col">
                    <label class="form-label" id="emailLabel" for="email"
                      >Your Email</label
                    >
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      name="email"
                      placeholder=""
                      required
                    />
                  </div>
                </div>

                <div class="row nogap">
                  <div class="col-md-6 form-group col">
                    <label class="form-label" id="nameLabel" for="name"
                      >Your Mobile No.
                    </label>
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      name="name"
                      placeholder=""
                      required
                    />
                  </div>
                  <div class="col-md-6 form-group col">
                    <label class="form-label" id="emailLabel" for="email"
                      >Subject</label
                    >
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      name="email"
                      placeholder=""
                      required
                    />
                  </div>
                </div>

                <div class="form-group">
                  <label class="form-label" id="messageLabel" for="message"
                    >Your Message</label
                  >
                  <textarea
                    rows="6"
                    cols="60"
                    name="message"
                    class="form-control"
                    id="message"
                    placeholder=""
                    required
                  ></textarea>
                </div>

                <div class="col-lg-6 text-center">
                  <button type="buttton" class="btn">Make an Appoinment</button>
                </div>
              </form>
              <!-- End form -->
            </div>

            <div class="col-xl-6 col-lg-6">
              <figure>
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3803.9605046389042!2d78.3395323148284!3d17.55706698797719!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb8dab02d848f7%3A0x9bf4f9670a578eae!2s9-77%2C%20KBR%20Colony%2C%20Bollaram%2C%20Telangana%20502325!5e0!3m2!1sen!2sin!4v1612423779325!5m2!1sen!2sin"
                  width="600"
                  height="450"
                  frameborder="0"
                  style="border: 0"
                  allowfullscreen=""
                  aria-hidden="false"
                  tabindex="0"
                ></iframe>
                <figcaption>
                  <h2>GPA buliders and developers</h2>
                  <span
                    >9-77 KBR colony,bollaram
                    (v),jinnaram(m),Sangareddy(D),telagana-502325</span
                  >
                  <h5>
                    <a href="mailto:mailtogpabuliders@gmail.com"
                      >mailtogpabuliders@gmail.com
                    </a>
                    <sub> / </sub
                    ><a href="www.websiteconst.com">gpabuliders.com</a>
                  </h5>
                  <span>
                    <a href="">
                      <i class="fab fa-facebook-square"></i>
                    </a>
                    <a href="">
                      <i class="fab fa-instagram"></i>
                    </a>
                  </span>
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- contact-us end -->

    <!-- footer start -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="footer-inner">
              <ul class="navbar-nav">
                <li>
                  <a href="">Home </a>
                </li>

                <li>
                  <a href="#Our Services">our services</a>
                </li>

                <li>
                  <a href="#projects">our team</a>
                </li>

                <li>
                  <a href="#Blog">testimonials</a>
                </li>

                <li>
                  <a href="#contact"> contact</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--		<button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-up"></i></button>-->
      <button onclick="topFunction()" id="myBtn" title="Go to top">⇧</button>
    </footer>
    <!-- footer end -->

    <script src="{% static '/js/jquery.min.js' %}"></script>
    <script src="{% static '/js/popper.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/js/owl.carousel.js' %}"></script>
    <script src="{% static '/js/aos.js' %}"></script>
    <script src="{% static '/js/custom.js' %}"></script>
  </body>
</html>
